out/
.bloop/
.metals/
.DS_Store
sbt
.sbt-local
.cache
.history
.lib
dist
target
lib_managed
src_managed
.idea
*.iml
.vscode
.dotty-ide-disabled
# Created by https://www.toptal.com/developers/gitignore/api/scala
# Edit at https://www.toptal.com/developers/gitignore?templates=scala

### Scala ###
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# End of https://www.toptal.com/developers/gitignore/api/scala
